#set($layout = "/templates/home/layout/default.vm")
<div class="container-body">
    <form class="layui-form">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>基本资料</legend>
        </fieldset>
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">员工id</label>
                <div class="layui-input-block">
                    <input type="text" value="$!user.id" readonly="readonly"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">ERP账号</label>
                <div class="layui-input-block">
                    <input type="text" value="$!user.erp" readonly="readonly"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">员工姓名</label>
                <div class="layui-input-block">
                    <input type="text" value="$!user.fullname" readonly="readonly"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">创建时间</label>
                    <div class="layui-input-inline">
                        <input type="text" value="$tool.formatDate($!user.gmtCreate)" readonly="readonly"
                               class="layui-input">
                    </div>
                </div>
            </div>
        </form>
    </form>
</div>