#set($layout = "/templates/$layoutVm")
<link rel="stylesheet" href="$!rootContextPath.getURI("/css/busi/illegal.css")" media="all">
<div class="illegal-warp">
    <table>
        <tr>
            <td rowspan="5"><img src="http://m.360buyimg.com/mobilecms/jfs/t1/36921/11/5257/4059/5cbee011E4682817c/04d126339776a179.png"></td>
            <td class="header">很抱歉！当前页面您无权限</td>
        </tr>
        <tr><td>你可以尝试联系系统管理员设置角色和菜单权限</td></tr>
    </table>
</div>